@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Quicksand:wght@500&display=swap');

body {
        background-color: #101010;
        color: white;
        font-family: 'Comfortaa', sans-serif;
}

a {
        color: #ce1818;
        text-decoration: none;
}
a.hover {
        color: rgb(233, 110, 110);
}
a.visited {
        color: #5f1919;
}

.card {
        display: flex;
        justify-content: space-evenly;
        flex-direction: inherit;
        flex-wrap: wrap;
}

.card > div {
        word-wrap: break-word;
        margin: 50px;
        padding: 20px;
        border-radius: 25px;
        background-color: #252525;
        box-shadow: 0 0 5px 5px #252525;
}

.button {
  background-color: #00755e; /* Green */
  border: none;
  font-family: 'Comfortaa', sans-serif;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
 	background-color: #00d4aa;
	color: black;
	border-radius: 12px;
	transform: translateY(-0.25em);
	box-shadow: 0 0.5em 0.5em -0.4em #00755e;
}
.button:active {
	transform: translateY(0.10em);
	background-color: #4beacb;
	box-shadow: 0 0.5em 0.5em -0.4em #00c7a1;
}

.ResponsiveImage {
        max-inline-size: 50%;
        block-size: auto;
        aspect-ratio: 2/1;
        object-fit: contain;
}

.pointyfinger {
        cursor: pointer;
}

.gameserversCardTitle, .centreofattention {
        text-align: center;
}

#wordwrappedlongthingaaa {
        word-wrap: break-word;
}

@media (max-width: 800px) {
  .card {
    flex-direction: column;
  }
  .ResponsiveImage {
        max-inline-size: 100%;
  }
}
