@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Quicksand:wght@500&display=swap');

body {
      	
	background-color: #151515;
        color: white;
        font-family: 'Comfortaa', sans-serif;
        margin: 0;
}

a {
        color: #ce1818;
        text-decoration: none;
}
a:hover {
        color: rgb(233, 110, 110);
}

.center {
	text-align: center;
}

.card {
        display: flex;
        justify-content: space-evenly;
        flex-direction: inherit;
        flex-wrap: wrap;
}

.card > div {
        word-wrap: break-word;
        margin: 50px;
        padding: 20px;
        border-radius: 25px;
        background-color: #252525;
        box-shadow: 0 0 5px 5px #252525;
}

.button {
  background-color: #00755e; /* Green */
  border: none;
  font-family: 'Comfortaa', sans-serif;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
 	background-color: #00d4aa;
	color: black;
	border-radius: 12px;
	transform: translateY(-0.25em);
	box-shadow: 0 0.5em 0.5em -0.4em #00755e;
}
.button:active {
	transform: translateY(0.10em);
	background-color: #4beacb;
	box-shadow: 0 0.2em 0.2em -0.2em #00c7a1;
}

.ResponsiveImage {
        max-inline-size: 50%;
        block-size: auto;
        aspect-ratio: 2/1;
        object-fit: contain;
}

.pointyfinger {
        cursor: pointer;
}

.midoucolored:hover {
	background-color: #a44ef4;
	color: #fff ;
	box-shadow: 0 0.5em 0.5em -0.4em #c78bff;

}
.midoucolored:active {
	background-color: #c78bff;
	color: #fff;
	box-shadow: 0 0.2em 0.2em -0.2em #c78bff;
}
.odysscolored:hover {
        background-color: #75b877;
        color: #000 ;  
        box-shadow: 0 0.5em 0.5em -0.4em #74e578;
 
}
.odysscolored:active {
        background-color: #74e578;
        color: #000;
        box-shadow: 0 0.2em 0.2em -0.2em #74e578;
}

.pleromacolored:hover {
        box-shadow: 0 0.2em 0.2em -0.2em #fba457;
        background-color: #fba457;
}

.pleromacolored:active {
        background-color: #ffcc55;
}

.catcolored:hover {
        box-shadow: 0 0.2em 0.2em -0.2em #f1f2ff;
        background-color: #f1f2ff;
}

.matrixcolored {
        background-color: #fff;
	color: #000;
}

.matrixcolored:hover {
        background-color: #099970;
        color: #fff;
}

.discordcolored {
        background-color: #5865F2;
}

.discordcolored:hover {
        background-color: hsl(235,calc(var(--saturation-factor, 1)*86.1%),71.8%); /* I didn't steal this from their website DONT SUE ME DONT FUCKING SUE ME PLEASEEEEEEEEEEEEEEEE */
        color: #fff;
}

.githubcolored {
        background-color: #333333;
}

.githubcolored:hover {
        background-color: #666666;
        color: #fff;
}
.gameserversCardTitle, .centreofattention {
        text-align: center;
}

#wordwrappedlongthingaaa {
        word-wrap: break-word;
}

#shitfuck {
        display: inline-block;
        width: 80%;
        word-wrap: break-word;
}

#MenuButton {
        display: none;
}

@media screen and (max-width: 800px) {
  .card {
    flex-direction: column;
  }
  .ResponsiveImage {
        max-inline-size: 100%;
  }

  .navbarpieceofshitfuckihatethis {display: none;}

  .navbarpieceofshitfuckihatethis.responsive {display: initial;}
  /*.navbarpieceofshitfuckihatethis.responsive a {
    float: none;
    display: block;
    text-align: left;
  }*/
  #MenuButton {
        display: initial;
  }

  #shitfuck {
        display: initial;
  }
}

.oh-fuck-center {
	line-height: 1.8;
	text-align: center;
}
